/* -----===== HEADER =====----- */

.header {
    height: 120px;
    background-image: linear-gradient(to bottom, rgb(246 63 46), rgb(254 100 50));
}

.navbar {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.3rem;
    color: white;
}

.navbar li {
    list-style-type: none;
}

.navbar-left {
    display: flex;
    padding: 0;
}

.navbar-left>li>a,
.navbar-right>li>a {
    text-decoration: none;
    color: white;
}

.navbar-left>li>a:hover,
.navbar-right>li>a:hover {
    color: #ddd;
}

.navbar-left__item {
    position: relative;
}

.navbar-left__item+.navbar-left__item,
.navbar-right__item+.navbar-right__item {
    margin-left: 20px;
}

.navbar-left__item a {
    margin: 0 2px;
}

.navbar-left__item-link {
    display: inline-flex;
    align-items: center;
}

.navbar-left__item-link .fa-facebook {
    font-size: 12px;
}

.navbar-left__item--qr:hover .navbar__qr {
    display: block;
}

.navbar-right__item:hover .notify {
    display: block;
}

.navbar-right {
    display: flex;
    align-items: center;
    padding: 0;
}

.navbar-right__item {
    position: relative;
}

.navbar-right__item>a {
    margin: 0 2px;
}

.navbar-right__item--bold {
    font-weight: 600;
    letter-spacing: 0.4px;
}


/* ----- Navbar QR code ----- */

.navbar__qr {
    width: 184px;
    background: var(--white-color);
    position: absolute;
    left: 0;
    top: 150%;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #d3d3d3;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: none;
    animation: fadeIn 0.5s ease;
    -webkit-animation: fadeIn 0.5s ease;
    z-index: 3;
}

.navbar__qr::before {
    content: "";
    display: block;
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 20px;
}

.header__qr-img {
    width: 100%;
}

.navbar__apps {
    display: flex;
    padding: 0 3px;
    margin: 0 4px 4px;
    justify-content: space-evenly;
}

.navbar__qr-download-img {
    height: 16px;
}


/* ----- Navbar notification ----- */

.notify {
    position: absolute;
    top: 200%;
    right: 0;
    width: 400px;
    background-color: white;
    border: 1px solid #d3d3d3;
    border-radius: 3px;
    box-sizing: border-box;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transform-origin: calc(100% - 20px) top;
    animation: growth ease-in 0.2s;
    -webkit-animation: growth ease-in 0.2s;
    will-change: opacity, transform;
    display: none;
    z-index: 3;
}

.notify::before {
    content: "";
    border-style: solid;
    border-width: 14px 16px;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    right: 24px;
    top: -26px;
}

.notify::after {
    content: "";
    display: block;
    position: absolute;
    right: -1px;
    top: -16px;
    width: 100px;
    height: 20px;
}

.notify__header {
    height: 40px;
    background-color: #fff;
    padding: 0 20px;
}

.notify__header h3 {
    color: #333;
    margin: 0;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 40px;
}

.notify__list {
    padding: 0;
}

.notify__item {
    display: flex;
    flex-direction: column;
    background-color: bisque;
}

.notify__item+.notify__item {
    border-top: 1px solid #eee;
}

.notify__item:hover {
    background-color: #f7f7f7;
}

.notify__item--viewed {
    background-color: #fff;
}

.notify__link {
    display: flex;
    padding: 10px;
    height: 80px;
    text-decoration: none;
}

.notify__img {
    width: 20%;
    object-fit: cover;
}

.notify__info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 12px;
}

.notify__title {
    display: block;
    font-size: 1.4rem;
    color: #333;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.notify__description {
    display: block;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #666;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.notify__footer {
    display: flex;
}

.notify__footer-btn {
    width: 100%;
    height: 100%;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 400;
    border-top: 1px solid #eee;
}


/* ----- Navbar user ----- */

.user {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
}

.user:hover .user__navbar {
    display: inline-block;
}

.user__img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
}

.user__name {
    padding: 0;
    margin: 0 4px;
}

.user__navbar {
    position: absolute;
    top: 160%;
    right: 0;
    width: 180px;
    border-radius: 3px;
    background-color: #fff;
    z-index: 4;
    padding: 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: 1px solid #d3d3d3;
    animation: fadeIn 0.5s ease;
    -webkit-animation: fadeIn 0.5s ease;
    display: none;
}

.user__navbar::before {
    content: "";
    border-style: solid;
    border-width: 14px 16px;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    right: 24px;
    top: -28px;
}

.user__navbar::after {
    content: "";
    display: block;
    position: absolute;
    top: -12px;
    right: 0px;
    width: 130px;
    height: 20px;
}

.user__item a {
    text-decoration: none;
    color: #333;
    font-size: 1.4rem;
    display: block;
    padding: 10px 16px;
}

.user__item a:hover {
    background-color: #f7f7f7;
}

.user__item a:first-child {
    border-radius: 3px 3px 0 0;
}

.user__item a:last-child {
    border-radius: 0 0 3px 3px;
}


/* ----- Search bar ----- */

.search-bar {
    height: var(--searchbar-height);
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4px;
}

.logo {
    height: 100%;
    width: 200px;
}

.logo__img {
    width: 150px;
    cursor: pointer;
}

.search {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.search__input-wrap {
    display: flex;
    flex: 1;
    height: 40px;
    background-color: #fff;
    border-radius: 3px;
    margin-top: 4px;
    align-items: center;
    position: relative;
}

.search__input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 0 16px;
    font-size: 1.4rem;
    border-radius: 3px;
}

.search__input:focus~.search__history {
    display: block;
}

.search__history {
    position: absolute;
    top: 100%;
    left: 0;
    width: calc(100% - 16px);
    border-radius: 3px;
    background-color: #fff;
    margin-top: 6px;
    border: 1px solid #d3d3d3;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: none;
    overflow: hidden;
}

.history__heading {
    margin: 0 16px;
    padding: 10px 0;
    color: #333;
    font-size: 1.3rem;
    font-weight: 400;
}

.history__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.history__item {
    padding: 0 16px;
    height: 36px;
}

.history__item>a {
    display: block;
    text-decoration: none;
    color: #666;
    font-size: 1.2rem;
    line-height: 36px;
}

.history__item:hover {
    background: #f7f7f7;
}

.search__btn {
    width: 10%;
    min-width: 36px;
    height: calc(100% - 6px);
    background-color: rgb(255, 99, 46);
    margin-right: 3px;
    margin-top: 1px;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
}

.search__icon {
    font-size: 1.6rem;
    line-height: 100%;
    margin: 9px 0;
    color: white;
}

.search__popular {
    height: 26px;
    margin: 0 0 0 -6px;
    padding: 0;
    display: flex;
    align-items: center;
}

.search__item>a {
    padding: 0 6px;
    font-size: 1.1rem;
    text-decoration: none;
    color: #fff;
}


/* ----- Cart ----- */

.cart {
    width: 120px;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
}

.cart__container {
    width: 60px;
    height: 60px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: 0 8px;
}

.cart__icon {
    font-size: 2.4rem;
    color: white;
    margin-top: 12px;
    display: block;
}

.cart__icon-notice {
    position: absolute;
    top: -1px;
    right: 1px;
    padding: 3px 6px;
    color: rgb(255, 99, 46);
    font-size: 1.4rem;
    line-height: 1.4rem;
    background: #fff;
    border-radius: 50%;
    border: 2px solid rgb(255, 99, 46);
}

.cart__container:hover .cart__list {
    display: block;
}

.cart__list {
    position: absolute;
    top: 90%;
    right: -9px;
    cursor: default;
    background-color: #fff;
    width: 400px;
    border-radius: 3px;
    border: 1px solid #d3d3d3;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: none;
    transform-origin: calc(100% - 20px) top;
    animation: growth 0.2s ease;
    -webkit-animation: growth 0.2s ease;
    z-index: 4;
}

.cart__list::before {
    content: "";
    border-style: solid;
    border-width: 14px 16px;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    right: 20px;
    top: -26px;
}

.cart__list::after {
    content: "";
    display: block;
    position: absolute;
    top: -12px;
    right: 16px;
    width: 40px;
    height: 20px;
}

.cart__list--empty {
    padding: 36px 0 24px;
}

.cart__list--empty .cart__list--empty-img,
.cart__list--empty .cart__list--empty-msg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cart__list--empty .cart__heading,
.cart__list--empty .cart__list-item,
.cart__list--empty .btn {
    display: none;
}

.cart__list--empty-img {
    width: 60%;
    display: none;
}

.cart__list--empty-msg {
    font-size: 1.4rem;
    color: #666;
    padding: 0;
    display: none;
}

.cart__list-item {
    padding: 0;
    margin: 0;
}

.cart__heading {
    color: #333;
    margin: 0;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 40px;
    text-align: left;
    padding-left: 20px;
}

.cart__item {
    display: flex;
    height: 80px;
    cursor: default;
    border-top: 1px solid #eee;
}

.cart__item:last-child {
    border-bottom: 1px solid #eee;
}

.cart__item:hover {
    background-color: bisque;
}

.item__img {
    width: 80px;
    margin: 12px;
    object-fit: cover;
}

.item__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-right: 8px;
}

.item__info-top {
    display: flex;
    justify-content: space-between;
}

.item__name {
    font-size: 1.4rem;
    font-weight: 500;
    color: #333;
    flex: 1;
    text-align: left;
    margin: 0;
}

.item__price,
.item__multiply,
.item__quantity {
    font-size: 1.3rem;
    font-weight: 400;
    color: #666;
    padding: 0 4px;
}

.item__price {
    color: rgb(255, 99, 46);
}

.item__multiply {
    font-size: 1.2rem;
}

.item__info-bottom {
    display: flex;
    justify-content: space-between;
}

.item__description,
.item__remove {
    font-size: 1.2rem;
    color: #444;
    padding-right: 4px;
}

.item__remove {
    font-weight: 500;
    cursor: pointer;
}


/* ----- Button ----- */

.btn {
    display: block;
    float: right;
    height: 40px;
    width: 160px;
    line-height: 40px;
    font-size: 1.4rem;
    margin: 10px;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover {
    opacity: 0.8;
}

.btn__primary {
    background-color: rgb(255, 99, 46);
    color: #fff;
}